<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>{{ file }}</title>
</head>
<body>
{% for image in images %}
        <div class="div1">
        <img src="/image/{{ file }}/{{ image }}" alt="{{ image }}" class="img" loading="lazy" ></img>
        </div>
        </br>
{% endfor %}
<style>
<!--    img{height: auto; width: auto\9; width:100%; max-height: 100%;}-->
    .div1 {
        width:auto;
        height:auto;

        max-width: 100%;
        max-height: 100%;
        border:1px solid black;
        vertical-align: middle;
    }
    .div1 img  {
        max-width: 100%;
        max-height: 100%;
        display: block;
        margin: auto;
    }
</style>
</body>
</html>